DISCORD_TOKEN=
DISCORD_GUILD_ID=
ALLOWED_CHANNEL_IDS=
OPENAI_API_KEY=
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=allies_of_majesty
BOOKSTACK_BASE_URL=https://wiki.alliesofmajesty.com
BOOKSTACK_TOKEN=
EPUB_PATH="../Allies of Majesty Chronicles vol 1.epub"